AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT_NAME=
AZURE_OPENAI_API_VERSION=

export LANGSMITH_TRACING=
export LANGSMITH_ENDPOINT=
export LANGSMITH_API_KEY=
export LANGSMITH_PROJECT=
